[Desktop Entry]
Name=shinyShortcut
Comment=Run Shiny App
Exec=C:/Users/yohan/Desktop/projet-INSERM_V5/R_Work_folder/Shiny_app/.shiny_run/shinyShortcut.r
Terminal=false
Type=Application
